<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/profile.css"/>
</head>
<body>
<div class="signup-container">
    <h1>Signup</h1>
    <form method="post" action="/signup">
        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">Signup</button>
    </form>
</div>
</body>
</html>
